.Quote {
    /* box-sizing: border-box; */
    background-color: #192A32;
    width: 250px;
    min-height: 250px;
    position: absolute;
    left: 9rem;
    bottom: 4rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7px;
}

.QuoteHeading {
    color: #31C4BE;
}

.QuotePara {
    color: #F2B237;

}